# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/Editor settings
.idea/
.vscode/

# Logs
*.log